accelerate
ctransformers
docx2txt
faiss-cpu
googletrans==4.0.0-rc1
huggingface-hub
langchain
langid
openai==0.28.1
pypdf
python-dotenv
replicate
requests
sentence_transformers
streamlit
streamlit_chat
streamlit>=1.30.0
tiktoken
torch
transformers>=4.36.0
