openai==0.28.1
streamlit==1.28.1
langchain==0.0.332
transformers==4.35.0
langchain
torch
accelerate
streamlit_chat
streamlit
faiss-cpu
tiktoken
ctransformers
huggingface-hub
pypdf
python-dotenv
replicate
docx2txt
requests
googletrans==4.0.0-rc1
